@import 'assets/styles/variables';

.confirmed {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
  max-width: 58.25em;

  .content {
    font-size: 4.55em;
    font-weight: 500;
    line-height: 1.1538em;
    color: $dark;
  }

  .bottom-line {
    font-size: 1.375em;
    font-style: normal;
    font-weight: 200;
    line-height: 1.3636em;    
    color: rgba(0, 0, 0, 0.7);    
    margin-top: 4.1363em;

    .midline {
      font-weight: 100;
      color: black;
      text-decoration: line-through;
    }

    .bottom-text {
      margin-left: 2.1363em;
    }
  }
}

@media (max-width: 992px) {
  .confirmed {   
    .content {
      font-size: 3.5em;
    }
  }
}

@media (max-width: 767px) {
  .confirmed {   
    .content {
      font-size: 3em;
    }
  }
}

@media (max-width: 400px) {
  .confirmed {   
    .content {
      font-size: 3em;
    }
  }
}