@import 'assets/styles/variables';

.pricing-partners {
  background-color: $bg-pg-gray;

  .page-container {
    padding: 10px;
    margin: 112px 80px 80px 80px ;
    display: flex;
    flex-direction: column;
    align-items: center;


    .pricing-banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 225px;

      &>.title {
        font-size: 88px;
        line-height: 106px;
        color: $dark;
        margin-bottom: 23px;
      }

      .description {
        color: $font-content-gray;
        font-weight: 200;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 754px;
        text-align: center;
        margin-bottom: 103px;
      }

      .monthly-btns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: $bg-price-white;
        box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        margin-bottom: 62px;
        padding: 5px 8px;

        .btn-base {
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 23px;
          line-height: 28px;
          padding: 8px 30px;
          color: $font-gray;
          cursor: pointer;

          &.active {
            color: black;
            box-shadow: 0px 1px 90px rgba(0, 0, 0, 0.1);
          }
        }
      }

      .pricing-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .price-card {
          max-width: 568px;
          margin-left: 14px;
          margin-right: 14px;
        }

      }

      .faq {
        margin-bottom: 157px;

        .owner {
          font-size: 20px;
          line-height: 24px;

          .owner {
            color: $font-dark;
          }

          .ask {
            color: $font-gray;
          }
        }
      }
    }

    .content-banner {
      background: #1b1b1b;
      border-radius: 10px;
      padding: 141px 0 129px 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      .content-title {
        margin-bottom: 57px;
        display: flex;
        flex-direction: column;

        &>.title {
          font-size: 44px;
          line-height: 53px;
          text-align: center;
          color: $bg-price-white;
          margin-bottom: 30px;
        }

        .content {
          font-weight: 200;
          font-size: 20px;
          line-height: 36px;
          max-width: 847px;
          text-align: center;
          letter-spacing: 0.02em;
          color: $font-gray;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .contents {
        margin: 0;

        .content-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
          margin-top: 139px;
          max-width: 568px;

          .title {
            margin-bottom: 24px;
            font-size: 28px;
            line-height: 29px;
            color: $bg-price-white;
            margin-left: 0;
            margin-right: auto;
          }

          .content {
            font-weight: 200;
            font-size: 20px;
            line-height: 28px;
            color: $font-gray;
          }
        }
      }
    }

    .contact-banner {
      display: flex;
      flex-direction: row;
      width: 100%;

      margin-top: 126px;
      margin-bottom: 46px;

      .question {
        font-size: 48px;
        line-height: 58px;
        color: #12121D;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      .informaion {
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;

        .times {
          font-size: 16px;
          line-height: 35px;
        }

        .email {
          font-size: 24px;
          line-height: 35px;
        }
      }
    }
  }
}