@import 'mixin';
@import 'animations';
@import 'animate';
@import 'color';
@import 'font';
@import 'layout';
@import 'variables';
@import 'bootstrap/scss/bootstrap-grid';

.App {
	overflow-x: hidden;
}

/* Document level adjustments */
html {
  font-size: 16px;
  font-family: 'Gelion';
}
h1 {
  margin-top: 0;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

body {
  margin: 0;
	padding: 11.3rem 0 0 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $bg-pg-gray;
	font-family: "Gelion";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

.page-container-responsive {
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	width: auto;
}

a {
	text-decoration: none;
	color: $dark;
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
}

@media (min-width: 1100px) {
	.container {
		max-width: 1630px;
	}
	.page-container-responsive {
		max-width: 1950px;
		padding: 0 15px;
	}
}

@media (min-width: 768px) {
	.page-container-responsive {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (max-width: 767px) {
	.page-container-responsive {
		padding-left: 0;
		padding-right: 0;
	}
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
	background: #858585;
}

::-webkit-scrollbar-track {
	background: #e6e6e6;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}