/*colors*/
$dark:#1c1c1c;
$blue:#23537a;
$gray:#cccccc;
$dark-gray:#495057;
$white:#fff;
$body-color: #f4f4f4;
$font-dark: #333333;
$font-gray: #cccccc;
$font-content-gray: #777777;
$font-dark-submenu: #4f4f4f;
$font-verify: #219653;

$border-gray: rgba(0, 0, 0, 0.15);
// $web-font: 'Nunito';
$footer-font-color:rgba(255, 255, 255, 0.4);
$-primary-box-shodaw:0 5px 30px rgba(0, 0, 0, 0.2);
$-secondary-box-shodaw:0 5px 100px rgba(204, 204, 204, 0.3);

$bg-overlay:rgba(10, 31, 65, 0.05);
$bg-white:#fff;
$bg-gray: #E5E5E5;
$bg-pg-gray: #fbfbfb;
$bg-btn-gray: #eeeeee;
$bg-price-white:#fdfdfd;

$res-pd: 15px;

$transparent:transparent;

$-primary-bor-co:#e6e6e6;

// position
$rel: relative;
$ab: absolute;

// font weight
$fw-100: 100;
$fw-300: 300;
$fw-500: 500;
$fw-600: 600;
$fw-bold: bold;


/*Media Query*/
$break-1299: 1299px;
$break-992: 992px;
$break-991: 991px;
$break-767: 767px;
$break-mobile-small: 680px;